# one same engine to be used
engine-strict = true

## installing peer dependencies
auto-install-peers = true
shamefully-hoist = true

## removing redundant peer dependencies
dedupe-peer-dependents = true
